finta
gym
jupyterlab
matplotlib
mplfinance
numpy
pandas
quantstats
stable_baselines3
torch
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
