finta
gym
jupyterlab
matplotlib
mplfinance
numpy
pandas
quantstats
stable_baselines3
torch
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
