finta
gym
jupyterlab
matplotlib
mplfinance
numpy
pandas
quantstats
stable_baselines3
torch
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
